@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}
  
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    /* margin-top: 0; */
  }
}

@media screen and (max-width: 600px) {
  
  footer {
    height: 20vh;
    margin: 0 1rem;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 1rem;
  }

  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  
  body {
    overflow-x: hidden;
    overflow-y: auto; /* or scroll */
  }

  .all-video-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .scroll-container {
    justify-content: left;
    /* display: inline-block; */
    /* margin: 8px; */
  }

  .video-container {
    /* width:70%;
    height:auto; */
    /* display: inline-block; Display images in a line */
    width: calc(100%);
    /* white-space: nowrap; */
  }

  .custom-video {
    width: 73vw;
    height: auto;
  }
  .contact-info-container {
    margin: 5;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 58vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .details-container {
    flex: 100%; /* Make each item take up 100% width (full row) */
    padding: 1rem;
  }
  #about, #projects, #contact {
    margin-bottom: 5rem;
  }

  /* Dot navigation styles */
  .dot-container {
    justify-content: center;
    position: absolute;
    /* bottom: 10px; */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin-top: 15px;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #aaa; /* Inactive dot color */
    margin: 0 5px; /* Adjust the spacing between dots */
    cursor: pointer;
  }
  .dot.active {
    background-color: #333; /* Active dot color */
  }
}