/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(52, 52, 52);
}

/* TRANSITION */
a,
.btn,
.menu {
  transition: all 300ms ease;
}

/* DESKTOP NAV */
nav,
.nav-links {
  display: flex;
}

nav {
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
  align-items: center;
  height: 11vh;
}

.nav-links {
  gap: 5.5rem;
  list-style: none;
  font-size: 1.5rem;
}

.nav-links-2 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;  /* Adjust this value to control vertical spacing */
  align-items: center;  /* Centers items horizontally */
}


a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.6rem;
  /* color: grey; */
  color: #778DA9;
  text-decoration-color: #778DA9;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#hamburger-nav {
  position: relative;
  z-index: 200;
  /* Higher than the overlay */
}

.menu {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 201;
  /* Explicitly high to ensure visibility */
}

.menu-links {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
  display: flex; /* Keep flex display always on */
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  opacity: 0;
  pointer-events: none; /* Use pointer-events instead of display */
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.menu-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: all 300ms ease;
}

.menu-links a:hover {
  color: #778DA9;
}

.menu-links.visible {
  opacity: 1;
  pointer-events: auto;
}

.menu-links.fade-out {
  opacity: 0;
  pointer-events: none;
}

.menu-links ul {
  list-style-type: none;
  padding: 0;
}

.menu-links li {
  margin: 20px;
  font-size: 24px;
}

.menu-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#hamburger-nav {
  display: none;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/*

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
} */


/* Menu */

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* SECTIONS */
section {
  padding-top: 4vh;
  height: 96dvh;
  margin: 0 16rem;
  box-sizing: border-box;
  min-height: fit-content;
}

@supports not (height: 100dvh) {
  section {
    height: 96vh;
  }
  
  #profile {
    height: 86vh;
  }
  
  #contact {
    height: 80vh;
  }
}

/* Arrow */
.arrow {
  position: absolute;
  right: 2rem;
  bottom: 1.6rem;
  cursor: pointer;
  transition: transform 0.3s;
}

@media (hover: hover) and (pointer: fine) {
  .arrow:hover {
    transform: scale(1.25);
  }
}

/* PROFILE SECTION */
#profile {
  /* filter: brightness(250%); */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  background-image: url('assets/photos/charloo.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* display: flex; */
  justify-content: center;
  gap: 1rem;
  height: 86dvh;
  padding: 0;
}

#projects {
  background-color: rgba(135, 135, 135, 0.8);
  background-blend-mode: lighten;
  background-image: url('assets/photos/darkbike2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#about {
  background-color: rgb(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  background-image: url('assets/photos/bikeday.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#contact {
  background-color: rgba(125, 125, 125, 0.95);
  background-blend-mode: lighten;
  background-image: url('assets/photos/Marche.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section__pic-container {
  height: 300px;
  width: 300px;
  /* margin: auto 0; */
  margin: -3rem 0 0 0;
  padding: 0;
}

.section__pic-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.section__text {
  align-self: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(26, 26, 26);
}

.section__text__p2 {
  font-size: 1.45rem;
  text-align: center;
  font-weight: normal;
}

.title {
  font-size: 2.4rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1.2rem;
}

/* ICONS */

.icon {
  height: 2rem;
}

.icon-network {
  cursor: pointer;
  height: 1.9rem;
  justify-content: center;
  transition: transform 0.3s;
  margin-top: 1px;
  margin-right: 1.2px;
}

@media (hover: hover) and (pointer: fine) {
  .icon-network:hover {
    transform: scale(1.25);
  }
}

/* ABOUT SECTION */

#about {
  position: relative;
  align-items: center;
  justify-content: center;
}

.all-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details-container {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(200px);
  width: 50%;
  text-align: center;
  opacity: 0;
  padding: 1rem;
  /* background: rgba(21, 21, 21, 0.2); */
  background: #E0E1DD;
  border-radius: 1rem;
  text-align: center;
  animation: display 30s infinite;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-ctn {
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

@keyframes display {

  0%,
  35% {
    transform: translate(-50%, -50%) translateX(200px);
    opacity: 0;
  }

  10%,
  15% {
    transform: translate(-50%, -50%) translateX(0);
    opacity: 1;
  }

  20%,
  100% {
    transform: translate(-50%, -50%) translateX(200px);
    opacity: 0;
  }
}

.details-container:nth-child(2) {
  animation-delay: 5s;
}

.details-container:nth-child(3) {
  animation-delay: 10s;
}

.details-container:nth-child(4) {
  animation-delay: 15s;
}

.details-container:nth-child(5) {
  animation-delay: 20s;
}

.details-container:nth-child(6) {
  animation-delay: 25s;
}

/* Dot navigation styles */
/* 
.dot-container {
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  margin-top: 120px;
}

.dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #aaa;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
} */

/* PROJECTS SECTION */

#projects {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-container {
  /* text-align: center; */
  /* Center-align the text */
  /* margin-bottom: 60px; */
  /* Add spacing below the title */
  position: absolute;
  text-align: center;
  width: 100%;
  top: 5%;
}

.container-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 100%;
  padding-top: 100%;
  height: auto;
  left: auto;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(140%);
  /* Ensures the image fills the square without distortion */
  border-radius: 8px;
  /* Optional: Adds rounded corners */
}

.cards {
  position: relative;
  width: 50%;
  max-width: 300px;
  margin-bottom: 5px;
  transform-style: preserve-3d;
}

/* .player {
  position: relative;
  background-blend-mode: lighten;
  background-image: url('assets/photos/darkbike2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  min-width: 220px;
  padding: 16px 10px;
  top: 345px;
} */

#item-1:checked~.cards #song-3,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2 {
  transform: translatex(-60%) scale(.65);
  opacity: .7;
  z-index: 0;
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-1 {
  transform: translatex(60%) scale(.65);
  opacity: .7;
  z-index: 0;
}

#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}

.play-icon {
  margin-right: 10px;
}

.song-info {
  width: calc(100% - 32px);
  display: block;
}

.song-info .title {
  color: #000000;
  font-size: 14px;
  line-height: 24px;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.subtitle,
.time {
  font-size: 12px;
  line-height: 16px;
  color: #010101;
}

.time {
  font-size: 12px;
  line-height: 16px;
  color: #020202;
  font-weight: 500;
  margin-left: auto;
}

/* .progress-bar {
  height: 3px;
  width: 100%;
  background-color: #5d5d5d;
  overflow: hidden;
} */

.progress {
  display: block;
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #000000;
  border-radius: 6px;
}

.info-area {
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
  transition: transform .4s ease-in;
}

/* #item-1:checked~.player #test {
  transform: translateY(0);
}

#item-2:checked~.player #test {
  transform: translateY(-40px);
}

#item-3:checked~.player #test {
  transform: translateY(-80px);
} */

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80dvh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  border: rgba(209, 209, 209, 0) 0.15rem solid;
  /* background: rgba(209, 209, 209, 0.7); */
  background: #778DA9;
  margin: 1rem auto;
  padding: 0.2rem;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info-upper-container:hover {
  background: rgba(255, 255, 255, 0.0);
  border: #000000 0.15rem solid;
  text-decoration: none;
}

.contact-info-upper-container img {
  filter: brightness(100%);
}


.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
  cursor: pointer;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: pointer;
}

.email-icon {
  height: 2.5rem;
}

.IG {
  color: rgb(0, 0, 0);
}

#mail-icon {
  margin-left: 0.05rem;
  width: 26px;
  height: 26px;
}

/* FOOTER SECTION */

footer {
  height: 17vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

footer nav {
  height: 5rem;
}


/* Sample Audio */
.audio-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#playPauseBtn {
  width: 40px;
  height: 40px;
  background-image: url('assets/icones/play.png');
  background-size: cover;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0);
  cursor: pointer;
  outline: none;
  border-width: 0 50px 30px 50px;
  transition: transform 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {

  #playPauseBtn:hover,
  #prevBtn:hover,
  #nextBtn:hover {
    transform: scale(1.25);
  }

}

#prevBtn {
  width: 25px;
  /* Set the width of the button */
  height: 25px;
  /* Set the height of the button */
  background-image: url('assets/icones/previous.png');
  background-size: cover;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0);
  transition: transform 0.3s;
  cursor: pointer;
  outline: none;
  border-width: 0 50px 30px 50px;
}

#nextBtn {
  width: 25px;
  /* Set the width of the button */
  height: 25px;
  /* Set the height of the button */
  background-image: url('assets/icones/next.png');
  background-size: cover;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0);
  transition: transform 0.3s;
  cursor: pointer;
  outline: none;
  border-width: 0 50px 30px 50px;
}

.container-audio-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #778DA9;
  padding: 2.5vh;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  width: 90%;
  position: absolute;
  max-width: 15rem;  /* Prevent container from getting too large */
  margin: 0 auto;
}

#cover1,
#sampleTitle {
  opacity: 1;
  transition: opacity 0.3s ease;
  will-change: opacity;
}

.fade-out {
  opacity: 0 !important;
}
#cover1,
.cover-carousel {
  position: relative;
  width: 100%;  /* Relative to container width */
  aspect-ratio: 1 / 1;  /* Maintain square shape */
  border-radius: 0.5rem;
  margin-bottom: 5%;
  overflow: hidden;
  display: flex;
}

.cover-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}